---
layout: archive
---

<hr>

<!-- Full-width content -->

<div>
  <p><a href="/home/files/vincentcv.pdf">Curriculum Vitae</a></p>

  <p>I am a Predoctoral Researcher at <a href="https://siepr.stanford.edu/">SIEPR</a> (Stanford Institute for Economic Policy Research).</p>

  <p>I am the founder and first chairman of the <a href="/home/Fudan_Floorball/">Fudan Floorball Association</a>.</p>

  <p>My research interests include:</p>
  <ul>
    <li> Reinforcement learning; Game theory behind the multi-agent setting </li>
    <li> Time series models in better economic dynamics understanding</li> 
    <li> Social networks and learning </li>
    <li> Identification and causality </li>
    <li> Platform Economics and fee rate setting </li>
  </ul>
</div>



