---
layout: archive
---

<hr>

<!-- Full-width content -->

<div>
  <p><a href="/home/files/vincentcv.pdf">Curriculum Vitae</a></p>

  I am a Student of Econometrics at Fudan University.

  <p>I am the founder and first chairman of the <a href="/home/Fudan_Floorball/">Fudan Floorball Association</a>.</p>
  
  My research interests include:
  <ul>
    <li> Reinforcement learning; Game theory behind the multi-agent setting </li>
    <li> Time series models in better economic dynamics understanding</li> 
    <li> Social networks and learning </li>
    <li> Identification and causality </li>
    <li> Platform Economics and fee rate setting </li>
  </ul>
</div>



